# Python files
*.pyc
__pycache__/

# Virtual environment
gis/

# Django secret keys and environment variables
.env

# Database files
*.sqlite3

# Static and media files
/media/

# VS Code or IDE-specific files
.vscode/
.idea/
